:root {
  --Calendar\(background-color\): var(--Component\(background-color\));
  --Calendar\(border-color\): var(--Component\(border-color\));
  --Calendar\(color\): var(--Component\(color\)\(purple\));
}
.Calendar {
  background-color: var(--Calendar\(background-color\));
  border-color: var(--Calendar\(border-color\));
  color: var(--Calendar\(color\));
}
