/*
 * Copyright 2023 Marek Kobida
 */

* {
  -webkit-user-select: none;
  user-select: none;
}
body {
  background-color: hsl(0, 0%, 93.75%);
  color: hsl(0, 0%, 6.25%);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(0, 0%, 6.25%);
    color: hsl(0, 0%, 93.75%);
  }
}
input,
select {
  appearance: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  input,
  select {
    border-color: hsl(0, 0%, 93.75%);
  }
}
