body {
  background-color: hsl(0, 0%, 6.25%);
  color: hsl(0, 0%, 93.75%);
}
input {
  appearance: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
#input {
  border-color: hsl(0, 0%, 50%) !important;
}
