/*
 * Copyright 2023 Marek Kobida
 */

.done {
  color: hsl(120, 100%, 25%);
}
.done .test {
  border-color: hsl(120, 100%, 25%) !important;
}
@media (prefers-color-scheme: dark) {
  .done {
    color: hsl(120, 100%, 75%);
  }
  .done .test {
    border-color: hsl(120, 100%, 75%) !important;
  }
}
