/*
 * Copyright 2023 Marek Kobida
 */

.done {
  border-color: hsl(120, 100%, 25%);
  color: hsl(120, 100%, 25%);
}
@media (prefers-color-scheme: dark) {
  .done {
    border-color: hsl(120, 100%, 75%);
    color: hsl(120, 100%, 75%);
  }
}
/* —————————————————————————————————————————————————————————————————————————————————————————————————————————————————— */
.test {
  --Component\(background-color\): hsl(0, 0%, 100%);
  --Component\(border-color\): hsl(0, 0%, 50%);
  --Component\(color\): hsl(0, 0%, 0%);
}
