/*
 * Copyright 2023 Marek Kobida
 */

.done {
  border-color: hsl(120, 100%, 25%);
  color: hsl(120, 100%, 25%);
  text-decoration: line-through;
}
.done input {
  text-decoration: line-through;
}
@media (prefers-color-scheme: dark) {
  .done {
    border-color: hsl(120, 100%, 75%);
    color: hsl(120, 100%, 75%);
  }
}
